Repository CMPT785/A1, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Code Change

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

Code Change:
- changed-files:
  - any-glob-to-any-file: '*.py'

updated README.md
  README.md
Labels: Documentation

updated README.md
  README.md
Labels: Documentation

add rate limiter
  README.md
  app.py
  auth.py
  config.env
Labels: Documentation, Code Change

add strong password requirement
  README.md
  auth.py
Labels: Documentation, Code Change

fix README
  README.md
  auth.py
Labels: Documentation, Code Change

Uploading Report
  A1_Group_2.pdf
Labels: none
